* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root { 
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
html { 
  font-size: 62.5%;
}
body { 
  background: var(--Pale-blue);
  display: grid;
  place-content: center;
  font-family: 'Red Hat Display', sans-serif;
}
.main { 
  width: 375px;
  height: 700px;
  border-radius: 40px;
  margin-top: 30px;
  background: var(--Very-pale-blue);

}
.header { 
  width: 100%;
}
.header img { 
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.main .content { 
 display: flex;
 flex-direction: column;
}
.main .content h1 { 
  text-align: center;
  padding: 20px;
  color: var(--Dark-blue); 
  font-weight: 900;
}
.main .content p {
  text-align: center;
  width: 350px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--Desaturated-blue);
  padding-bottom: 10px;
}
.main .content-choose-plan { 
  display: flex;
  gap: 4px;
  width: 300px;
  height: 80px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 25px;
  background: var(--Pale-blue);
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
.main .content-choose-plan img { 
 width: 60px;
 height: 60px;
}
.main .content-choose-plan p { 
  font-size: 1rem;  
  width: 100px;
}
.main .content-choose-plan a { 
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--Bright-blue);
}
.content-choose-plan .content-choose-plan--term-price {
  display: flex; 
  flex-direction: column;
  margin-left: -50px;
}
.content-choose-plan .content-choose-plan--term-price p:nth-child(1) { 
  padding: 5px 0;
  color: var(--Dark-blue);
  font-size: 1.2rem;
  font-weight: 900;
}
.main .aceppt-cancel-payment { 
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  justify-content: center;
  margin: 20px auto 0;
}
.main .aceppt-cancel-payment button:nth-child(1) { 
  height: 80px;
  margin: 10px 0;
  width: 100%;
  border: none;
  color: white;
  background: var(--Bright-blue);
  font-weight: 900;
  font-size: 1.6rem;
  border-radius: 10px;
  box-shadow: 0 10px 6px 4px var(--Pale-blue);
}
.main .aceppt-cancel-payment button:nth-child(2) {
  width: 100%;
  height: 15px;
  margin-top: 15px;
  border: none;
  color: var(--Desaturated-blue);
  background: white;
  font-weight: 900;
  font-size: 1.5rem;
}